[Unit]
Description=RowOrNo (Flask in Docker)
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
WorkingDirectory=/root/cedarhacks/row_or_no
ExecStart=/root/cedarhacks/row_or_no/run.sh
Restart=always
RestartSec=5
Environment="SSL_CERT=/etc/letsencrypt/live/yourdomain.com/fullchain.pem"
Environment="SSL_KEY=/etc/letsencrypt/live/yourdomain.com/privkey.pem"



# Optional: environment vars
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
